%font_10 {
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  font-family: $font-drukwidecyr;
  text-transform: uppercase;
}

%font_12 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16.8px;
  font-family: $font-drukwidecyr;
  text-transform: uppercase;
}

%font_14 {
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  font-family: $font-drukwidecyr;
  text-transform: uppercase;
}

%font_16 {
  font-size: 16px;
  font-weight: 700;
  line-height: 21.6px;
  font-family: $font-drukwidecyr;
  text-transform: uppercase;
}

%font_20 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  font-family: $font-drukwidecyr;
  text-transform: uppercase;
}

%font_26 {
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  font-family: $font-drukwidecyr;
  text-transform: uppercase;
}
