@font-face {
  font-family: "DrukWideCyr";
  src: url(./fonts/Druk/DrukWideCyr-Bold.woff2);
}

@font-face {
  font-family: "Commissioner";
  src: url(./fonts/Commissioner/Commissioner-Regular.woff2);
}
