.cards__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  @include screen_md {
    flex-direction: row;
    justify-content: space-between;
  }
}

.card {
  width: 100%;
  min-height: 450px;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  background: #fff;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  &:hover {
    background: #202020;
    .card__wrapper {
      transform: translateY(-60px);
    }
    .card__button {
      transform: translateY(-30px);
    }
    .card__title {
      color: $white;
    }
    .card__text {
      color: $white;
    }
  }
  &:nth-child(2) {
    .card__image {
      width: 75.2%;
      align-self: flex-end;
    }
  }
  @include screen_lg {
    max-width: 620px;
    max-height: 784px;
    &:hover {
      .card__wrapper {
        transform: translateY(-88px);
      }
      .card__button {
        transform: translateY(-12px);
      }
    }
  }
}

.card__wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  transition: all 0.5s ease-in-out;
}

.card__image {
  width: 100%;
  height: auto;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  @include screen_bg {
    max-height: 520px;
  }
}

.card__info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  @include screen_lg {
    padding: 24px;
    gap: 16px;
  }
}

.card__title {
  max-width: 80%;
  @extend %font_16;
  color: $dark;
  transition: all 0.5s ease-in-out;
  @include screen_lg {
    font-size: 32px;
    line-height: 41.6px;
  }
}

.card__text {
  max-width: 440px;
  @extend %font_14;
  font-family: $font-commissioner;
  color: $dark;
  transition: all 0.5s ease-in-out;
  @include screen_lg {
    font-size: 16px;
    line-height: 25.6px;
  }
}

.card__button {
  cursor: pointer;
  position: absolute;
  bottom: -80px;
  width: calc(100% - 24px);
  height: 48px;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 1rem;
  background: $orange;
  margin-top: 16px;
  transition: all 0.5s ease-in-out;
  @include screen_lg {
    width: calc(100% - 48px);
    height: 64px;
  }
}

.button__text {
  @extend %font_12;
  color: $white;
  @include screen_lg {
    font-size: 16px;
    line-height: 21.6px;
  }
}
